
.tooltip54 {
    border-bottom: 1px dotted #000000;
    color: #000000;
    outline: none;
    cursor: help;
    text-decoration: none;
    position: relative;
}

.tooltip54 span {
    margin-left: -999em;
    position: absolute;
}

.tooltip54:hover span {
    border-radius: 5px 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000000;
    box-shadow: 5px 5px #000000;
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute;
    left: 1em;
    top: 2em;
    z-index: 99;
    margin-left: 0;
    width: 300px;
}

.tooltip54:hover span[top_contact] {
    top: 1em;
}

.tooltip54:hover span[width50] {
    width: 50px;
}

.tooltip54:hover span[width100] {
    width: 100px;
}

.tooltip54:hover span[width150] {
    width: 150px;
}

.tooltip54:hover span[width200] {
    width: 200px;
}

.tooltip54:hover span[width250] {
    width: 250px;
}

.tooltip54:hover span[width300] {
    width: 300px;
}

.tooltip54:hover span[width350] {
    width: 350px;
}

.tooltip54:hover span[width400] {
    width: 400px;
}

.tooltip54:hover img[iconinfo] {
    border: 0;
    margin: -10px 0 0 -55px;
    float: left;
    position: absolute;
}

.tooltip54:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 0.2em 0 0.6em 0;
}

.classic {
    padding: 0.8em 1em;
}

.custom {
    padding: 0.5em 0.8em 0.8em 2em;
}

* html a:hover {
    background: transparent;
}

.classic {
    background: #FFFFAA;
    border: 1px solid #FFAD33;
}

.critical {
    background: #FFCCAA;
    border: 1px solid #FF3334;
}

.help {
    background: #9FDAEE;
    border: 1px solid #2BB0D7;
}

.ecinfo {
    background: #9FDAEE;
    border: 1px solid #2BB0D7;
}

.warning {
    background: #FFFFAA;
    border: 1px solid #FFAD33;
}

.custom img:first-child {
    src: url(images/Critical.png);
    height: 48px;
    width: 48px;
}

.tooltip54:hover img[alinea] {
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
    width: 120px;
    align: left;
    float: left;
    background-repeat: no-repeat;
}

.tooltip54:hover img[imglien] {
    top: 5em;
    left: 5em;
}
